@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #1E1E1E;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground: #f8f3f3;
		--background: #0a0a0a;
		--primary: #33FF52;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-switzer), Helvetica, sans-serif;
}

.input-otp {
	background: var(--background);
	color: var(--foreground);
	margin: 3px;
	padding: 3px;
}

.btn {
	background: var(--foreground);
	color: var(--background);
}
